asgiref==3.8.1
Django==5.1.1
python-dotenv==1.0.1
sqlparse==0.5.1
tzdata==2024.2
requests~=2.32.3
Pillow==10.4.0
django-debug-toolbar==4.4.6
pip~=23.2.1
certifi~=2024.8.30
urllib3~=2.2.3
idna~=3.10
django-mptt~=0.16.0
charset-normalizer~=3.3.2
django-modeltranslation~=0.19.10
django-rosetta==0.10.1