{% load static %}
{% for product in page_obj %}
<div class="col-md-6 col-lg-6 col-xl-4">
    <div class="rounded position-relative fruite-item">
        <div class="fruite-img">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/No_Image_Available.jpg' %}{% endif %}" class="img-fluid w-100 rounded-top" alt="{{ product.slug }}">
        </div>
        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">
            {% if category %}
                {{ category }}
            {% else %}
                {% for cat in product.tags.all %}
                     {% if forloop.last %}{{ cat }}{% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
            <h4><a href="{% url 'store:product_details' product.slug product.id %}">{{ product.name }}</a></h4>
            <p>{{ product.description }}</p>
            <div class="d-flex justify-content-between flex-lg-wrap">
                <p class="text-dark fs-5 fw-bold mb-0">${{ product.price }}</p>
                 <form method="POST">
                    {% csrf_token %}
                     <input type="hidden" name="quantity" value="1">
                    {% include 'addons/add_to_cart_form.html' %}
                 </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<script>{% if add_item_form.errors %}window.alert('{{ add_item_form.errors }}'){% endif %}</script>