{% extends 'base.html' %}

{% block title %}Fruitables - Vegetable Website Template{% endblock %}

{% block content %}
    {% include 'sections/hero.html' %}

    {% include 'sections/features.html' %}

    {% include 'sections/shop.html' %}

    {% include 'sections/service.html' %}
    
    {% include 'sections/scroll_shop.html' %}
    
    {% include 'sections/banner.html' %}

    {% include 'sections/bestseller.html' %}

    {% include 'sections/fact.html' %}

    {% include 'sections/testimonial.html' %}
{% endblock %}
