{% extends 'base.html' %}
{% load static %}

{% block title %}Store Page{% endblock %}
{% block keywords %}Store, products{% endblock %}
{% block description %}This is the page of Store{% endblock %}


{% block content %}
    {% include 'partials/single_page_header.html' %}
    <!-- Fruits Shop Start-->
    <div class="container-fluid fruite py-5">
        <div class="container py-5">
            <h1 class="mb-4">Culinary Store</h1>
            <div class="row g-4">
                <div class="col-lg-12">
                    <div class="row g-4">
                        <div class="col-xl-3">
                            <div class="input-group w-100 mx-auto d-flex">
{#                                <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">#}
                                <form method="GET" class="input-group w-100 mx-auto d-flex">
                                    {{ form.q }}
                                    <button id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></button>
                                </form>

                            </div>
                        </div>
                        <div class="col-6"></div>
                        <div class="col-xl-3">
                            <form method="GET" class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                                <label for="fruits">Default Sorting:</label>
                                <select id="fruits" name="sort" class="border-0 form-select-sm bg-light me-3" onchange="this.form.submit()">
                                    <option value="0">Nothing</option>
                                    <option value="1">Price Low to High</option>
                                    <option value="2">Price High to Low</option>
                                    <option value="3">By Date</option>
                                </select>
                            </form>
                        </div>
                    </div>

                    <!--Categories-->
                    <div class="row g-4">
                        <div class="col-lg-3">
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <form method="GET">
                                            {% include 'addons/categories.html' %}

                                            {% include 'addons/price_slider.html' %}

                                            {% include 'addons/radio.html' %}

                                            <div class="d-flex justify-content-center my-4">
                                                <button type="submit" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">
                                                    Filter
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-9">
                            <div class="row g-4 justify-content-center">

                                <!--PRODUCT LIST-->
                                {% include 'products/product_cards.html' %}
                                <!--END PRODUCT LIST-->

                                {% if page_obj.paginator.count %}
                                    {% include 'addons/paginator.html' %}
                                {% else %}
                                    <h1 style="text-align: center">No products</h1>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fruits Shop End-->
{% endblock %}

