<!DOCTYPE html>
<html lang="en">
<head>
    <title>Store</title>
</head>
<body>
<br>
<p style="text-align: center"><b>Category - {{ category.name }}</b></p>
<br>
<br>
<strong>Statistics</strong>
<ol type="I">
    <li>
        The most expensive product price: ${{ statistics.most_expensive_price|floatformat:2 }}
    </li>
    <li>
        The cheapest product price: ${{ statistics.least_expensive_price|floatformat:2 }}
    </li>
    <li>
        Average product price: ${{ statistics.average_product_price|floatformat:2 }}
    </li>
    <li>
        The total value of all products in the category: ${{ statistics.total_price_of_product|floatformat:2 }}
    </li>
</ol>
<br>
<br>
<strong>Products</strong>
<ul>
    {% for product in paginator %}
        <li>
            <a href="{% url 'product_details' product.id %}" style="text-decoration: none;">
                {{ product.name }}
            </a>
            - ${{ product.total_price|floatformat:2 }}
            {% if product.total_price == 0 %}
                Out of stock
            {% endif %}\ The total cost of this product in stock
        </li>
    {% endfor %}
</ul>

{% if paginator.has_previous %}
    <a href="?page={{ paginator.previous_page_number }}">PREVIOUS</a>
{% endif %}

{% if paginator.has_previous and paginator.has_next %}
    <span style="font-size: 20px; font-weight: bold">| </span>
{% endif %}
{% if paginator.has_next %}
    <a href="?page={{ paginator.next_page_number }}">NEXT</a>
{% endif %}
</body>
</html>