<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
</head>
<body>
    <h1>Product Details</h1>
    <div id="container">
        {% for key, value in product.values.items %}
            <div class="fields">
                {% if key == 'categories' %}
                    <b>{{ key|capfirst }}:</b>
                    <ul>
                        {% for cat in value %}
                            <li>{{ cat.name }}</li>
                        {% endfor %}
                    </ul>
                {% elif key == 'image' %}
                    <b>{{ key|capfirst }}:</b>
                    <br>
                    {% if value %}
                        <img src="{{ value }}" alt="product image" style="width: 500px">
                    {% else %}
                        No image
                    {% endif %}
                {% else %}
                    <p>
                        <b>{{ key|capfirst }}:</b> {{ value }}
                    </p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</body>
</html>
